* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e27bf086;
}
.container {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
}
.toast {
    background: #450569;
    color: white;
    padding: 1em;
    margin: .5em;
    font-size: .7em;
    border-radius: .3em;
}
button {
    padding: 1em;
    background: #450569;
    color: white;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}